MP3_Flow.json
[
    {
        "id": "f26c49ce9bc2b4c2",
        "type": "tab",
        "label": "I-Lo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d5de018ef5cb0274",
        "type": "switch",
        "z": "f26c49ce9bc2b4c2",
        "name": "I-lo C2",
        "property": "intent.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "GetInstruction",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DefinitionBindery",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DefinitionSymptomatology",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DefinitionBiotaxy",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DefinitionExodontist",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DefinitionHendecagon",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DefinitionCymry",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ChangeBooks",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ChangeKitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "VerbalJoke",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "VerbalMusic",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 11,
        "x": 510,
        "y": 880,
        "wires": [
            [
                "ae158ecd4dbfd36e"
            ],
            [
                "c636dc75b6084aab"
            ],
            [
                "08dbf46e7d517113"
            ],
            [
                "21c4c8ec7e118455"
            ],
            [
                "4a561c33648473bf"
            ],
            [
                "f909b76cdbdcc570"
            ],
            [
                "fea9e33b47a8d7ae"
            ],
            [
                "66227e4cb20c7860"
            ],
            [
                "340f7a7135e3d5d7"
            ],
            [
                "eb7e9f9fee6b11d2"
            ],
            [
                "12e5194d1550d834"
            ]
        ]
    },
    {
        "id": "48041de7580886d3",
        "type": "websocket in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Rhasspy Intent",
        "server": "974d0b683d046897",
        "client": "",
        "x": 160,
        "y": 1120,
        "wires": [
            [
                "121f0f4a2452ef68",
                "96201da66612f134",
                "d5de018ef5cb0274"
            ]
        ]
    },
    {
        "id": "121f0f4a2452ef68",
        "type": "debug",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 920,
        "wires": []
    },
    {
        "id": "aaa1ab1e7e01e6ae",
        "type": "switch",
        "z": "f26c49ce9bc2b4c2",
        "name": "Speech Assistant C1",
        "property": "intent.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "GetInstruction",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DefinitionCymry",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DefinitionBindery",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DefinitionSymptomatology",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DefinitionBiotaxy",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DefinitionHendecagon",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DefinitionExodontist",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ChangeBooks",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ChangeKitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "VerbalJoke",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "VerbalMusic",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 11,
        "x": 560,
        "y": 340,
        "wires": [
            [
                "5cc32c0b11ca597b"
            ],
            [
                "79d40b7a3ed7eb7e"
            ],
            [
                "d69446cd258bd398"
            ],
            [
                "3762872031289156"
            ],
            [
                "dec16713c9539e97"
            ],
            [
                "52fa724b14c57870"
            ],
            [
                "e14966127c677448"
            ],
            [
                "86604a8b92e3a3c7"
            ],
            [
                "b5acc3b465cc633b"
            ],
            [
                "3355ce70aa229075"
            ],
            [
                "dcd90773063b14dd"
            ]
        ]
    },
    {
        "id": "8c50961453610915",
        "type": "http request",
        "z": "f26c49ce9bc2b4c2",
        "name": "Start recording",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:12101/api/start-recording",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 3460,
        "y": 1440,
        "wires": [
            [
                "21b8e71a9b4dfc96"
            ]
        ]
    },
    {
        "id": "203a9592d50caca3",
        "type": "http request",
        "z": "f26c49ce9bc2b4c2",
        "name": "Stop recording",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:12101/api/stop-recording",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 3820,
        "y": 1440,
        "wires": [
            [
                "8e9ee279d02b433a"
            ]
        ]
    },
    {
        "id": "21b8e71a9b4dfc96",
        "type": "delay",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3640,
        "y": 1440,
        "wires": [
            [
                "203a9592d50caca3"
            ]
        ]
    },
    {
        "id": "8e9ee279d02b433a",
        "type": "switch",
        "z": "f26c49ce9bc2b4c2",
        "name": "I-lo C2",
        "property": "intent.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "DefinitionCymry",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DefinitionHendecagon",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DefinitionExodontist",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 3990,
        "y": 1440,
        "wires": [
            [
                "18666f740c10f758"
            ],
            [
                "b79177167fa234c5"
            ],
            [
                "1bd1bdeaf1efa020"
            ]
        ]
    },
    {
        "id": "18666f740c10f758",
        "type": "switch",
        "z": "f26c49ce9bc2b4c2",
        "name": "Yes/No switch",
        "property": "wakeId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Yes",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "No",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 4220,
        "y": 1360,
        "wires": [
            [
                "d530da74da111fdf"
            ],
            [
                "b05084e54ed63dc5"
            ]
        ]
    },
    {
        "id": "d530da74da111fdf",
        "type": "change",
        "z": "f26c49ce9bc2b4c2",
        "name": "Yes1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "I love the Welsh culture! It is so fascinating that the words Wales and Welsh are the most popular description of Cymry even though they were invented to denote them for speaking a different language. Well enough about that. What else do you have to do?",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4390,
        "y": 1340,
        "wires": [
            [
                "9f200409dead49a2"
            ]
        ]
    },
    {
        "id": "b05084e54ed63dc5",
        "type": "change",
        "z": "f26c49ce9bc2b4c2",
        "name": "No1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Oh. That is okay. Lets get on with the tasks then.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4390,
        "y": 1380,
        "wires": [
            [
                "9f200409dead49a2"
            ]
        ]
    },
    {
        "id": "b79177167fa234c5",
        "type": "switch",
        "z": "f26c49ce9bc2b4c2",
        "name": "Yes/No switch",
        "property": "wakeId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Yes",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "No",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 4220,
        "y": 1440,
        "wires": [
            [
                "913170792a37726d"
            ],
            [
                "4e3cfa51be35ca7b"
            ]
        ]
    },
    {
        "id": "9f200409dead49a2",
        "type": "http request",
        "z": "f26c49ce9bc2b4c2",
        "name": "Text to speech",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:12101/api/text-to-speech",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 4680,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "1bd1bdeaf1efa020",
        "type": "switch",
        "z": "f26c49ce9bc2b4c2",
        "name": "Yes/No switch",
        "property": "wakeId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Yes",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "No",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 4220,
        "y": 1520,
        "wires": [
            [
                "87e0f0dcbc9a2574"
            ],
            [
                "d60b944b0de8ee28"
            ]
        ]
    },
    {
        "id": "87e0f0dcbc9a2574",
        "type": "change",
        "z": "f26c49ce9bc2b4c2",
        "name": "Yes3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Oh no. If it gets too much stop working and go to the dentist. Otherwise it might be smart to be done with all your work before it gets too bad.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4390,
        "y": 1500,
        "wires": [
            [
                "9f200409dead49a2"
            ]
        ]
    },
    {
        "id": "d60b944b0de8ee28",
        "type": "change",
        "z": "f26c49ce9bc2b4c2",
        "name": "No3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "I was scared for a second there. But then there is no excuse to not go on with your work. ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4390,
        "y": 1540,
        "wires": [
            [
                "9f200409dead49a2"
            ]
        ]
    },
    {
        "id": "913170792a37726d",
        "type": "change",
        "z": "f26c49ce9bc2b4c2",
        "name": "Yes2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Wow. You seem to be very popular. I envy you a little. Maybe you will host a party here some time and I will get to know more people. Until then we should get on with the tasks though right?",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4390,
        "y": 1420,
        "wires": [
            [
                "9f200409dead49a2"
            ]
        ]
    },
    {
        "id": "4e3cfa51be35ca7b",
        "type": "change",
        "z": "f26c49ce9bc2b4c2",
        "name": "No2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "I can relate to that. But you know what? Lets just work hard and get all of this done so you can go out and make friends.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4390,
        "y": 1460,
        "wires": [
            [
                "9f200409dead49a2"
            ]
        ]
    },
    {
        "id": "727e1fbcca194703",
        "type": "http request",
        "z": "f26c49ce9bc2b4c2",
        "name": "Start recording",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:12101/api/start-recording",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 3460,
        "y": 1880,
        "wires": [
            [
                "12b273a3b025295d"
            ]
        ]
    },
    {
        "id": "c0ea91651a73c31e",
        "type": "http request",
        "z": "f26c49ce9bc2b4c2",
        "name": "Stop recording",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:12101/api/stop-recording",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 3820,
        "y": 1880,
        "wires": [
            [
                "ad532c56772034a7"
            ]
        ]
    },
    {
        "id": "12b273a3b025295d",
        "type": "delay",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3640,
        "y": 1880,
        "wires": [
            [
                "c0ea91651a73c31e"
            ]
        ]
    },
    {
        "id": "900f9275955b2b56",
        "type": "switch",
        "z": "f26c49ce9bc2b4c2",
        "name": "Yes/No switch",
        "property": "wakeId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Yes",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "No",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 4220,
        "y": 1880,
        "wires": [
            [
                "1df3e712a4b48f53"
            ],
            [
                "831ecad07f28fecd"
            ]
        ]
    },
    {
        "id": "1df3e712a4b48f53",
        "type": "change",
        "z": "f26c49ce9bc2b4c2",
        "name": "Yes2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Wow. You seem to be very popular. I envy you a little. Maybe you will host a party here some time and I will get to know more people. Until then we should get on with the tasks though right?",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4390,
        "y": 1860,
        "wires": [
            [
                "14709a4d9dbd7dc2"
            ]
        ]
    },
    {
        "id": "831ecad07f28fecd",
        "type": "change",
        "z": "f26c49ce9bc2b4c2",
        "name": "No2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "I can relate to that. But you know what? Lets just work hard and get all of this done so you can go out and make friends.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4390,
        "y": 1900,
        "wires": [
            [
                "14709a4d9dbd7dc2"
            ]
        ]
    },
    {
        "id": "76035251e1ca56fb",
        "type": "switch",
        "z": "f26c49ce9bc2b4c2",
        "name": "Yes/No switch",
        "property": "wakeId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Yes",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "No",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 4220,
        "y": 1960,
        "wires": [
            [
                "de7a9ee8587c8a9c"
            ],
            [
                "2615237ccfdd21fd"
            ]
        ]
    },
    {
        "id": "14709a4d9dbd7dc2",
        "type": "http request",
        "z": "f26c49ce9bc2b4c2",
        "name": "Text to speech",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:12101/api/text-to-speech",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 4680,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "de7a9ee8587c8a9c",
        "type": "change",
        "z": "f26c49ce9bc2b4c2",
        "name": "Yes3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Oh no. If it gets too much stop working and go to the dentist. Otherwise it might be smart to be done with all your work before it gets too bad.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4390,
        "y": 1940,
        "wires": [
            [
                "14709a4d9dbd7dc2"
            ]
        ]
    },
    {
        "id": "2615237ccfdd21fd",
        "type": "change",
        "z": "f26c49ce9bc2b4c2",
        "name": "No3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "I was scared for a second there. But then there is no excuse to not go on with your work. ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4390,
        "y": 1980,
        "wires": [
            [
                "14709a4d9dbd7dc2"
            ]
        ]
    },
    {
        "id": "ad532c56772034a7",
        "type": "switch",
        "z": "f26c49ce9bc2b4c2",
        "name": "I-lo C3",
        "property": "intent.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "DefinitionCymry",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DefinitionHendecagon",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DefinitionExodontist",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 4010,
        "y": 1880,
        "wires": [
            [
                "2f99452cb194e731"
            ],
            [
                "900f9275955b2b56"
            ],
            [
                "76035251e1ca56fb"
            ]
        ]
    },
    {
        "id": "2f99452cb194e731",
        "type": "switch",
        "z": "f26c49ce9bc2b4c2",
        "name": "Yes/No switch",
        "property": "wakeId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Yes",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "No",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 4220,
        "y": 1800,
        "wires": [
            [
                "0a47783c93d27411"
            ],
            [
                "da5cd9e3085ccdd2"
            ]
        ]
    },
    {
        "id": "0a47783c93d27411",
        "type": "change",
        "z": "f26c49ce9bc2b4c2",
        "name": "Yes1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "I love the Welsh culture! It is so fascinating that the words Wales and Welsh are the most popular description of Cymry even though they were invented to denote them for speaking a different language. Well enough about that. What else do you have to do?",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4390,
        "y": 1780,
        "wires": [
            [
                "14709a4d9dbd7dc2"
            ]
        ]
    },
    {
        "id": "da5cd9e3085ccdd2",
        "type": "change",
        "z": "f26c49ce9bc2b4c2",
        "name": "No1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Oh. That is okay. Lets get on with the tasks then.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4390,
        "y": 1820,
        "wires": [
            [
                "14709a4d9dbd7dc2"
            ]
        ]
    },
    {
        "id": "96201da66612f134",
        "type": "switch",
        "z": "f26c49ce9bc2b4c2",
        "name": "All",
        "property": "intent.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ConditionOfILo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "LifeConditionILo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Test",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GoCharge",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GoBathroom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GoKitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GoLivingRoom",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ThankYou",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ComeOver",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 510,
        "y": 1320,
        "wires": [
            [
                "2bda9d1ada2bec67"
            ],
            [
                "0e85f5435c29ec59"
            ],
            [
                "2038a5972a155017"
            ],
            [
                "800f62dfe596cd78"
            ],
            [
                "adbd138a5803f111"
            ],
            [
                "acf66d61f6a4d4d6"
            ],
            [
                "28c371555b3d3952"
            ],
            [
                "544749929794eea6"
            ],
            [
                "1f1b43ab92f79f3a"
            ],
            [
                "776fe74d3a621cd3"
            ]
        ]
    },
    {
        "id": "9a8608966cdc921f",
        "type": "switch",
        "z": "f26c49ce9bc2b4c2",
        "name": "I-lo C1",
        "property": "intent.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "DefinitionCymry",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DefinitionBindery",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DefinitionSymptomatology",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DefinitionBiotaxy",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DefinitionHendecagon",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "DefinitionExodontist",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ChangeBooks",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ChangeKitchen",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "VerbalJoke",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "VerbalMusic",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GetInstruction",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 11,
        "x": 610,
        "y": 520,
        "wires": [
            [
                "79d40b7a3ed7eb7e"
            ],
            [
                "d69446cd258bd398"
            ],
            [
                "3762872031289156"
            ],
            [
                "dec16713c9539e97"
            ],
            [
                "52fa724b14c57870"
            ],
            [
                "e14966127c677448"
            ],
            [
                "86604a8b92e3a3c7"
            ],
            [
                "b5acc3b465cc633b"
            ],
            [
                "3355ce70aa229075"
            ],
            [
                "dcd90773063b14dd"
            ],
            [
                "78e7ab38d6d3ca0b"
            ]
        ]
    },
    {
        "id": "adc68b42b8747e49",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 1100,
        "wires": []
    },
    {
        "id": "12e5194d1550d834",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Music",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/RhasspyAndNodeRed/Music/Feel The Rush.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 910,
        "y": 1100,
        "wires": [
            [
                "adc68b42b8747e49"
            ]
        ]
    },
    {
        "id": "601e33724be1abf3",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 160,
        "wires": []
    },
    {
        "id": "5cc32c0b11ca597b",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Introduction",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/Introductions/Intro(no_gesture).mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 930,
        "y": 160,
        "wires": [
            [
                "601e33724be1abf3"
            ]
        ]
    },
    {
        "id": "dcc0d8a8f7fdcabf",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 220,
        "wires": []
    },
    {
        "id": "79d40b7a3ed7eb7e",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Cymry",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/C1/C1_cymry.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 910,
        "y": 220,
        "wires": [
            [
                "dcc0d8a8f7fdcabf"
            ]
        ]
    },
    {
        "id": "b4293e5cf92fe446",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 260,
        "wires": []
    },
    {
        "id": "d69446cd258bd398",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Bindery",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/C1/C1_bindery.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 920,
        "y": 260,
        "wires": [
            [
                "b4293e5cf92fe446"
            ]
        ]
    },
    {
        "id": "5a721d9c9ccf0148",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 300,
        "wires": []
    },
    {
        "id": "3762872031289156",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Symptomatology",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/C1/C1_symptomatology.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 950,
        "y": 300,
        "wires": [
            [
                "5a721d9c9ccf0148"
            ]
        ]
    },
    {
        "id": "300b98d1c6ba97d2",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 340,
        "wires": []
    },
    {
        "id": "dec16713c9539e97",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Biotaxy",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/C1/C1_biotaxy.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 920,
        "y": 340,
        "wires": [
            [
                "300b98d1c6ba97d2"
            ]
        ]
    },
    {
        "id": "96a633c1191bfab4",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 380,
        "wires": []
    },
    {
        "id": "52fa724b14c57870",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Hendecagon",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/C1/C1_hendecagon.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 930,
        "y": 380,
        "wires": [
            [
                "96a633c1191bfab4"
            ]
        ]
    },
    {
        "id": "2fd16ac29de396f8",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 420,
        "wires": []
    },
    {
        "id": "e14966127c677448",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Exodontist",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/C1/C1_exodontist.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 930,
        "y": 420,
        "wires": [
            [
                "2fd16ac29de396f8"
            ]
        ]
    },
    {
        "id": "160790f3d5dfa658",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 460,
        "wires": []
    },
    {
        "id": "86604a8b92e3a3c7",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Books",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/C1/C1_books.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 910,
        "y": 460,
        "wires": [
            [
                "160790f3d5dfa658"
            ]
        ]
    },
    {
        "id": "0a30b39f6523a1a8",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 500,
        "wires": []
    },
    {
        "id": "b5acc3b465cc633b",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Kitchen Utensils",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/C1/C1_kitchen_utensils.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 940,
        "y": 500,
        "wires": [
            [
                "0a30b39f6523a1a8"
            ]
        ]
    },
    {
        "id": "a291cf3e63f5085b",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 540,
        "wires": []
    },
    {
        "id": "3355ce70aa229075",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Joke",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/C1/C1_joke.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 910,
        "y": 540,
        "wires": [
            [
                "a291cf3e63f5085b"
            ]
        ]
    },
    {
        "id": "1ca2906384f9e1da",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 620,
        "wires": []
    },
    {
        "id": "78e7ab38d6d3ca0b",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Instruction",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/Introductions/Intro(C1_robot).mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 930,
        "y": 620,
        "wires": [
            [
                "1ca2906384f9e1da"
            ]
        ]
    },
    {
        "id": "2e7b05d174f339d0",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 700,
        "wires": []
    },
    {
        "id": "ae158ecd4dbfd36e",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Instruction",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/Introductions/Intro(C2_robot).mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 930,
        "y": 700,
        "wires": [
            [
                "2e7b05d174f339d0"
            ]
        ]
    },
    {
        "id": "c5f2ff4e5ed5d647",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 740,
        "wires": []
    },
    {
        "id": "c636dc75b6084aab",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Bindery",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/C2/C2_bindery.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 920,
        "y": 740,
        "wires": [
            [
                "c5f2ff4e5ed5d647"
            ]
        ]
    },
    {
        "id": "2240eca8d3e51e66",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 780,
        "wires": []
    },
    {
        "id": "08dbf46e7d517113",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Symptomatology",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/C2/C2_symptomatology.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 950,
        "y": 780,
        "wires": [
            [
                "2240eca8d3e51e66"
            ]
        ]
    },
    {
        "id": "4b36c40651f248b0",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 820,
        "wires": []
    },
    {
        "id": "21c4c8ec7e118455",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Biotaxy",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/C2/C2_biotaxy.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 920,
        "y": 820,
        "wires": [
            [
                "4b36c40651f248b0"
            ]
        ]
    },
    {
        "id": "c9ca551a6903e5d7",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 860,
        "wires": []
    },
    {
        "id": "4a561c33648473bf",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Exodontist",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/C2/C2_exodontist.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 930,
        "y": 860,
        "wires": [
            [
                "c9ca551a6903e5d7"
            ]
        ]
    },
    {
        "id": "4d9f99665cb325b2",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 900,
        "wires": []
    },
    {
        "id": "f909b76cdbdcc570",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Hendecagon",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/C2/C2_hendecagon.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 930,
        "y": 900,
        "wires": [
            [
                "4d9f99665cb325b2"
            ]
        ]
    },
    {
        "id": "6912d5ac6a4610af",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 940,
        "wires": []
    },
    {
        "id": "fea9e33b47a8d7ae",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Cymry",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/C2/C2_cymry.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 910,
        "y": 940,
        "wires": [
            [
                "6912d5ac6a4610af"
            ]
        ]
    },
    {
        "id": "320e1c801c9632d2",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 980,
        "wires": []
    },
    {
        "id": "66227e4cb20c7860",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Books",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/C2/C2_books.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 910,
        "y": 980,
        "wires": [
            [
                "320e1c801c9632d2"
            ]
        ]
    },
    {
        "id": "7a5a412f3e8c3c62",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 1020,
        "wires": []
    },
    {
        "id": "340f7a7135e3d5d7",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Kitchen Utensils",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/C2/C2_kitchen_utensils.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 940,
        "y": 1020,
        "wires": [
            [
                "7a5a412f3e8c3c62"
            ]
        ]
    },
    {
        "id": "324e993cc4815461",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 1060,
        "wires": []
    },
    {
        "id": "eb7e9f9fee6b11d2",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Joke",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/C2/C2_joke.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 910,
        "y": 1060,
        "wires": [
            [
                "324e993cc4815461"
            ]
        ]
    },
    {
        "id": "88a1caf02131e753",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 1160,
        "wires": []
    },
    {
        "id": "2bda9d1ada2bec67",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Condition",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/ALL/ALL_condition.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 920,
        "y": 1160,
        "wires": [
            [
                "88a1caf02131e753"
            ]
        ]
    },
    {
        "id": "b23928d967b0d1f2",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 1200,
        "wires": []
    },
    {
        "id": "0e85f5435c29ec59",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "LifeCondition",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/ALL/ALL_lifeCondition.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 930,
        "y": 1200,
        "wires": [
            [
                "b23928d967b0d1f2"
            ]
        ]
    },
    {
        "id": "a226f69ca59d4fb4",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 1240,
        "wires": []
    },
    {
        "id": "2038a5972a155017",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Music",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/RhasspyAndNodeRed/Music/Feel The Rush.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 910,
        "y": 1240,
        "wires": [
            [
                "a226f69ca59d4fb4"
            ]
        ]
    },
    {
        "id": "ef024e511a9f2d0c",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 1280,
        "wires": []
    },
    {
        "id": "800f62dfe596cd78",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Charge",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/ALL/ALL_charge.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 920,
        "y": 1280,
        "wires": [
            [
                "ef024e511a9f2d0c"
            ]
        ]
    },
    {
        "id": "fc0998106f5c7ce3",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 1320,
        "wires": []
    },
    {
        "id": "adbd138a5803f111",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Bathroom",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/ALL/ALL_bathroom.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 920,
        "y": 1320,
        "wires": [
            [
                "fc0998106f5c7ce3"
            ]
        ]
    },
    {
        "id": "0cbd6f739ba369da",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 1360,
        "wires": []
    },
    {
        "id": "acf66d61f6a4d4d6",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Kitchen",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/ALL/ALL_kitchen.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 920,
        "y": 1360,
        "wires": [
            [
                "0cbd6f739ba369da"
            ]
        ]
    },
    {
        "id": "b98b10366a535a4c",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 1400,
        "wires": []
    },
    {
        "id": "28c371555b3d3952",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Living Room",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/ALL/ALL_livingRoom.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 930,
        "y": 1400,
        "wires": [
            [
                "b98b10366a535a4c"
            ]
        ]
    },
    {
        "id": "d2f64f2d6d482108",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 1440,
        "wires": []
    },
    {
        "id": "544749929794eea6",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Thanks",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/ALL/ALL_thanks.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 920,
        "y": 1440,
        "wires": [
            [
                "d2f64f2d6d482108"
            ]
        ]
    },
    {
        "id": "f4439d6a80d53f10",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 1480,
        "wires": []
    },
    {
        "id": "1f1b43ab92f79f3a",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "ComeToPlayerPosition",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/ALL/ALL_playerPosition.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 960,
        "y": 1480,
        "wires": [
            [
                "f4439d6a80d53f10"
            ]
        ]
    },
    {
        "id": "07a23d8158f178a7",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 1520,
        "wires": []
    },
    {
        "id": "776fe74d3a621cd3",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "notUnderstood",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/MP3/ALL/ALL_notUnderstood.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 940,
        "y": 1520,
        "wires": [
            [
                "07a23d8158f178a7"
            ]
        ]
    },
    {
        "id": "83cbd8cfab15f036",
        "type": "play audio",
        "z": "f26c49ce9bc2b4c2",
        "name": "",
        "voice": "8",
        "x": 1290,
        "y": 580,
        "wires": []
    },
    {
        "id": "dcd90773063b14dd",
        "type": "file in",
        "z": "f26c49ce9bc2b4c2",
        "name": "Music",
        "filename": "/media/fkirsch/KIRSCHBAG/Human-robot interaction/Laura/RhasspyAndNodeRed/Music/Feel The Rush.mp3",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 910,
        "y": 580,
        "wires": [
            [
                "83cbd8cfab15f036"
            ]
        ]
    },
    {
        "id": "974d0b683d046897",
        "type": "websocket-listener",
        "path": "ws://localhost:12101/api/events/intent",
        "wholemsg": "true"
    }
]